<div class="container">
  <div *ngIf="isAdmin()">
    <button (click)="toggle()">Add Type</button>
    <div *ngIf="isVisible">
      <form #makeType="ngForm" (ngSubmit)="SaveType(makeType.value, makeType)">
        <label for="VehicleName">Type Name</label>
        <input type="text" name="VehicleName" placeholder="Type.." ngModel/>
        <input type="submit" value="Save">
      </form>
    </div>
  </div>

  <form #makeBranch="ngForm" (ngSubmit)="SaveVehicle(makeBranch.value, makeBranch)">
    <label for="fname">Model</label>
    <input type="text" name="Model" placeholder="Model.." ngModel #Model="ngModel"/>
    <div *ngIf="Model.errors && (Model.dirty || Model.touched)" class="alert alert-danger">
        <div [hidden]="!Model.errors.required">
            Model is required!
        </div>
        <div [hidden]="!Model.errors.minlength">
            Model must be at least 5 characters long.
        </div>
        <div [hidden]="!Model.errors.maxlength">
            Model cannot be more than 42 characters long.
        </div>
      </div>

    <label for="TypeId">Type</label>
    <div class="select-container">
      <select name="VehicleTypeId" ngModel #VehicleTypeId="ngModel">
        <option *ngFor="let type of types" name="VehicleTypeId" [value]="type.VehicleTypeId">{{type.VehicleName}}</option>
      </select>
    </div>

    <label for="fcena">Cena po satu:</label>
    <input type="text" placeholder="Cena.." [value]="nesto"/>
    <div *ngIf="Cena.errors && (Cena.dirty || Cena.touched)" class="alert alert-danger">
        <div [hidden]="!Cena.errors.required">
            Cena is required!
        </div>
      </div>

    <label for="lname">Image</label>
    <br>
    <input type='file' (change)="onSelectFile($event)" name="Image" placeholder="Image.." ngModel/>
    <img [src]="url" height="200">
    <br>
    <br>

    <div class="form-group" *ngIf="isManager()">
      <label>Available</label>
      <div *ngFor="let yes of yesNo">
        <input name="yes" type="radio" [value]="yes" for="yes" [(ngModel)]="available" />
        <label>{{yes}}</label>
      </div>
    </div>

    <label for="lname">Producer</label>
    <input type="text" name="Producer" placeholder="Producer.." ngModel #Producer="ngModel">
<div *ngIf="Producer.errors && (Producer.dirty || Producer.touched)" class="alert alert-danger">
        <div [hidden]="!Producer.errors.required">
            Producer is required!
        </div>
        <div [hidden]="!Producer.errors.minlength">
            Producer must be at least 5 characters long.
        </div>
        <div [hidden]="!Producer.errors.maxlength">
            Producer cannot be more than 42 characters long.
        </div>
      </div>

    <label for="Type">Year Of Produce</label>
    <div class="select-container">
      <select name="ProductionYear" class="box-routh select" [(ngModel)]="selectedYear" #ProductionYear="ngModel">
        <option *ngFor="let year of years" [value]="year">{{year}}</option>
      </select>
    </div>
    <div *ngIf="ProductionYear.errors && (ProductionYear.dirty || ProductionYear.touched)" class="alert alert-danger">
        <div [hidden]="!ProductionYear.errors.required">
            ProductionYear is required!
        </div>
      </div>

    <label for="subject">Description</label>
    <textarea type="text" id="subject" name="Description" placeholder="Write something about vehicle.." style="height:200px"
      ngModel></textarea>

    <input type="submit" value="Save">

  </form>
</div>