<div class="container">
  <form #makeBranch="ngForm" (ngSubmit)="onSubmit(makeBranch.value, makeBranch)">

    <label for="fname">Address</label>
    <input type="text" name="Address" placeholder="Address.." ngModel>

    <label for="lname">Image</label>
    <br>
    <input type='file' (change)="onSelectFile($event)" name="image" placeholder="Image.." ngModel>
    <img [src]="url" height="200">
    <br>
    <br>
    <label for="lname">Latitude</label>
    <input type="text" name="Latitude" placeholder="Latitude.." [(ngModel)]="latNum">

    <label for="subject">Longitude</label>
    <input type="text" name="Longitude" placeholder="Longitude.." [(ngModel)]="lngNum">

    <input type="submit" value="Save">

  </form>
</div>



<p>
    <!-- Kreiramo mapu -->
   <agm-map [latitude]="mapInfo.centerLat" [longitude]="mapInfo.centerLong" [zoom]="18" (mapClick)="placeMarker($event)">
    
     <!-- Postavljamo markere -->
     <agm-marker [latitude]="latNum" [longitude]="lngNum" [title]="mapInfo.title"
     [label]="mapInfo.label">
 
       <!-- Svakom markeru dodajemo info-window (Nije obavezno!)-->
       <agm-info-window [latitude]="mapInfo.centerLat" [longitude]="mapInfo.centerLong" >
 
         <!-- U info-window stavljamo html -->
         <span style="font-size: 16px;font-family:'Times New Roman'">Fakultet tehničkih nauka</span>
         <br/>
         <span style="font-family:'Times New Roman'; color:gray;"><strong>Jugodrvo</strong></span>
         <span style="font-family:'Times New Roman'; color:gray;">Bulevar oslobođenja 131</span>
         <a [href]="mapInfo.link">See the site.</a>
       </agm-info-window>
 
     </agm-marker>
   </agm-map>
 </p>
