<div class="container">
  <form #updateService="ngForm" (ngSubmit)="onSubmit(updateService.value, updateService)">

    <label for="fname">Name</label>
    <input type="text" id="fname" name="Name" [(ngModel)]="activeService.Name" placeholder="Name.." ngModel #Name="ngModel">
    <div *ngIf="Name.errors && (Name.dirty || Name.touched)" class="alert alert-danger">
        <div [hidden]="!Name.errors.required">
             Name is required!
        </div>
        <div [hidden]="!Name.errors.minlength">
             Name must be at least 5 characters long.
        </div>
        <div [hidden]="!Name.errors.maxlength">
             Name cannot be more than 42 characters long.
        </div>
    </div>

    <label for="lname">Logo</label>
    <br>
    <img [src]="activeService.Logo" height="200">
    <br>
    <br>
    <label for="lname">E-mail</label>
    <input type="text" id="lname" name="Email" placeholder="E-mail.." #Email="ngModel" [(ngModel)]="activeService.Email">
    <div *ngIf="Email.errors && (Email.dirty || Email.touched)" class="alert alert-danger">
        <div [hidden]="!Email.errors.required">
            Email is required!
        </div>
        <div [hidden]="!Email.errors.minlength">
            Email must be at least 5 characters long.
        </div>
        <div [hidden]="!Email.errors.maxlength">
            Email cannot be more than 42 characters long.
        </div>
    </div>

    <label for="subject">Description</label>
    <textarea type="text" id="subject" [(ngModel)]="activeService.Description" name="Description" placeholder="Write something about service.." style="height:200px" ></textarea>

    <input type="submit" value="Save">

  </form>
</div>