<div class="container">
  <form #updateService="ngForm" (ngSubmit)="onSubmit(updateService.value, updateService)">

    <label for="fname">Name</label>
    <input type="text" id="fname" name="Name" [(ngModel)]="activeService.Name" placeholder="Name.." ngModel>

    <label for="lname">Logo</label>
    <br>
    <img [src]="activeService.Logo" height="200">
    <br>
    <br>
    <label for="lname">E-mail</label>
    <input type="text" id="lname" name="Email" placeholder="E-mail.." [(ngModel)]="activeService.Email">

    <label for="subject">Description</label>
    <textarea type="text" id="subject" [(ngModel)]="activeService.Description" name="Description" placeholder="Write something about service.." style="height:200px" ></textarea>

    <input type="submit" value="Save">

  </form>
</div>