<a [routerLink]="['/make-branch/', serviceId]">Dodaj filijalu</a>

<div class="container container mt-4 mb-5">
    <h3 class="display-4 text-center"> Branches </h3>
    <hr class="bg-dark mb-4 w-25">

    <div class="row">
        <div class="col-md-4" *ngFor="let branch of branches">
            <div class="card">
                <img class="card-img-top" src="{{branch.Image}}" alt="Card image cap">
                <div class="card-block p-3">
                    <h4 class="card-title" name="Address">Address: {{branch.Address}}</h4>
                    <p class="card-text" name="Latitude">Latitude: {{branch.Latitude}}</p>
                    <p class="card-text" name="Longitude">Longitude: {{branch.Longitude}}</p>
                    <button (click)="deleteBranch(branch.BranchOfficeID)">Obrisi filijalu</button>
                </div>
            </div>
            <a [routerLink]="['/edit-branch/', branch.BranchOfficeID]">Izmeni filijalu</a>
        </div>
    </div>
</div>



<p>
    
        <!-- Kreiramo mapu -->
       <agm-map [latitude]="mapInfo.centerLat" [longitude]="mapInfo.centerLong" [zoom]="18">
            <div *ngFor="let branch of branches">
         <!-- Postavljamo markere -->
         <agm-marker [latitude]="branch.Latitude" [longitude]="branch.Longitude" [title]="mapInfo.title"
         [label]="mapInfo.label">
     
           <!-- Svakom markeru dodajemo info-window (Nije obavezno!)-->
           <agm-info-window [latitude]="branch.Latitude" [longitude]="branch.Longitude" >
     
             <!-- U info-window stavljamo html -->
             <span style="font-size: 16px;font-family:'Times New Roman'">Fakultet tehničkih nauka</span>
             <br/>
             <span style="font-family:'Times New Roman'; color:gray;"><strong>Jugodrvo</strong></span>
             <span style="font-family:'Times New Roman'; color:gray;">Bulevar oslobođenja 131</span>
             <a [href]="mapInfo.link">See the site.</a>
           </agm-info-window>
     
         </agm-marker>
        </div>
       </agm-map>
       
     </p>
    

