/* You can add global styles to this file, and also import other style files */
body{
    background-image: url("http://hdfondsdecran.com/image/201609/87/cercle-fonce-infini-650x366.jpg");
    background-repeat: no-repeat;
    background-size: 100%
}

.btn {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
#btnTrash:hover {
    background-color: red;
}

#btnTrash {
    float: right;
}

#btnEdit:hover {
    background-color:gray;
}

#btnEdit {
    float: right;
}