

<form style="float: right;">
    
<label style="color: aliceblue" for="Type">Oceni servis</label>
<div>
  <select class="custom-select" style="width:70px;" name="rate" [(ngModel)]="selectedRate">
    <option *ngFor="let rate of rates" [value]="rate">{{rate}}</option>
  </select>
</div>

<button style="width:70px;" class="btn btn-success" (click)="SendRate()" value="Zavrsi">Oceni</button>
</form>

<form style="float: right" class="form-inline">
        <input (ngModelChange)="TextForSearch($event)" class="form-control mr-sm-2" placeholder="Search" aria-label="Search" >
</form>

<div *ngIf="isManager() || isAdmin()">
    <a [routerLink]="['/make-vehicle/', serviceId]">Dodaj auto</a>
</div>

<div *ngIf=" activeService.CreatorID== activeUser">
    <a [routerLink]="['/edit-service/', serviceId]">Izmeni servis</a>
</div>



<div *ngIf="isAdmin()">
    <button class="btn btn-outline-success my-2 my-sm-0" (click)="toggle()">Obrisati tip vozila</button>
    <div *ngIf="isVisible">
        <table id="customers">
            <tr>
                <th>ID</th>
                <th>Ime</th>
                <th></th>
            </tr>
            <div *ngFor="let vehicleType of vehicleTypes">
                <tr>
                    <td>{{vehicleType.VehicleTypeId}}</td>
                    <td>{{vehicleType.VehicleName}}</td>
                    <td>

                        <button>
                            <a (click)="DeleteVehicleType(vehicleType.VehicleTypeId)">Obrisi</a>
                        </button>
                    </td>
                </tr>
            </div>
        </table>
    </div>
</div>


<div class="row">
    <select (change)="selectSearch($event)">
            <option value="Izaberite filter" selected>
                    Izaberite filter
                </option>
        <option value="Model" >
            Model
        </option>
        <option value="Price">
            Price
        </option>
    </select>

    <div>
      <select name="VehicleTypeId" (change)="selectSearch($event)" (ngModelChange)="filterBy($event)" [ngModel]="selectedType">
        <option value="Filtriraj po tipu vozila" selected>Filtriraj po tipu vozila</option>
        <option *ngFor="let type of vehicleTypes" [value]="type.VehicleTypeId">{{type.VehicleName}}</option>
      </select>
    </div>
    <textarea [(ngModel)]="data" (ngModelChange)="filterBy($event)" placeholder="Search text ..."></textarea>
</div>

<div class="container container mt-10 mb-5">
    <h3 class="display-4 text-center">
        <b> Dobrodosli!</b>
    </h3>
    <hr class="bg-dark mb-4 w-25">
</div>

    <div *ngIf="filterText == '' || TextToSearch">
        <div class="row">
            <div class="col-sm-2" *ngFor="let vehicle of vehicles">
                <div class="card">
                    <img class="card-img-top" src="{{vehicle.Image}}" alt="Card image cap">
                    <div class="card-block p-1">
                        <p>
                            <b>Model:</b> {{vehicle.Model}}</p>
                        <p>
                            <b>Proizvodjac:</b> {{vehicle.Producer}}</p>
                        <p>
                            <b>Godina proizvodnje:</b> {{vehicle.ProductionYear}}</p>
                        <p>
                            <b>Opis:</b> {{vehicle.Description}}</p>
                    </div>
                    <div *ngIf="isClient()">
                        <button class="btn btn-primary">
                            <a (click)="showSpecificReservation = vehicle.VehicleID">Rezervisi</a>
                        </button>
                        <app-vehicles-reserve [(vehicleId)]="vehicle.VehicleID" *ngIf="showSpecificReservation == vehicle.VehicleID"></app-vehicles-reserve>
                    </div>
                </div>
                <div *ngIf="vehicle.CreatorID == activeUser">
                    <a [routerLink]="['/edit-vehicle/', vehicle.VehicleID]">Izmeni auto</a>

                    <button class="btn" id="btnTrash">
                        <i class="fa fa-trash" (click)="deleteVehicle(vehicle.VehicleID)"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="filterText != ''">
            <div class="row">
                <div class="col-sm-2" *ngFor="let vehicle of findedVehicles">
                    <div class="card">
                        <img class="card-img-top" src="{{vehicle.Image}}" alt="Card image cap">
                        <div class="card-block p-1">
                            <p>
                                <b>Model:</b> {{vehicle.Model}}</p>
                            <p>
                                <b>Proizvodjac:</b> {{vehicle.Producer}}</p>
                            <p>
                                <b>Godina proizvodnje:</b> {{vehicle.ProductionYear}}</p>
                            <p>
                                <b>Opis:</b> {{vehicle.Description}}</p>
                        </div>
                        <div *ngIf="isClient()">
                            <button class="btn btn-primary">
                                <a (click)="showSpecificReservation = vehicle.VehicleID">Rezervisi</a>
                            </button>
                            <app-vehicles-reserve [(vehicleId)]="vehicle.VehicleID" *ngIf="showSpecificReservation == vehicle.VehicleID"></app-vehicles-reserve>
                        </div>
                    </div>
                    <div *ngIf="vehicle.CreatorID == activeUser">
                        <a [routerLink]="['/edit-vehicle/', vehicle.VehicleID]">Izmeni auto</a>
    
                        <button class="btn" id="btnTrash">
                            <i class="fa fa-trash" (click)="deleteVehicle(vehicle.VehicleID)"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="TextToSearch != ''">
            <div class="row">
                <div class="col-sm-2" *ngFor="let vehicle of searchVehicles">
                    <div class="card">
                        <img class="card-img-top" src="{{vehicle.Image}}" alt="Card image cap">
                        <div class="card-block p-1">
                            <p>
                                <b>Model:</b> {{vehicle.Model}}</p>
                            <p>
                                <b>Proizvodjac:</b> {{vehicle.Producer}}</p>
                            <p>
                                <b>Godina proizvodnje:</b> {{vehicle.ProductionYear}}</p>
                            <p>
                                <b>Opis:</b> {{vehicle.Description}}</p>
                        </div>
                        <div *ngIf="isClient()">
                            <button class="btn btn-primary">
                                <a (click)="showSpecificReservation = vehicle.VehicleID">Rezervisi</a>
                            </button>
                            <app-vehicles-reserve [(vehicleId)]="vehicle.VehicleID" *ngIf="showSpecificReservation == vehicle.VehicleID"></app-vehicles-reserve>
                        </div>
                    </div>
                    <div *ngIf="vehicle.CreatorID == activeUser">
                        <a [routerLink]="['/edit-vehicle/', vehicle.VehicleID]">Izmeni auto</a>
    
                        <button class="btn" id="btnTrash">
                            <i class="fa fa-trash" (click)="deleteVehicle(vehicle.VehicleID)"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>


<div *ngIf="isClient()">
    <form #comment="ngForm" (ngSubmit)="AddComment(comment.value, comment)">
        <div class="form-group">
            <label for="comment">Komentari:</label>
            <textarea ngModel name="Text" class="form-control" rows="5" id="comment"></textarea>
        </div>
        <div>
            <input value="Komentarisi" type="submit" class="btn btn-success" />
        </div>
    </form>
</div>

<div class="row">
    <div class="col-md-8">
        <div *ngFor="let comment of comments" class="media g-mb-30 media-comment">
            <img src="http://simpleicon.com/wp-content/uploads/user1.png" height="30" width="30" class="d-flex g-width-10 g-height-10 rounded-circle g-mt-3 g-mr-15">
            <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30">
                <div class="g-mb-15">
                    <h5 class="h5 g-color-gray-dark-v1 mb-0">{{comment.Client.FullName}}</h5>
                </div>
                <p>{{comment.Text}}</p>
                <ul class="list-inline d-sm-flex my-0">
                </ul>
            </div>
        </div>
    </div>
</div>